body {
    width: 100%;
    float: left;
    overflow-x: hidden;
    font-family: Lato, sans-serif;
}

html {
    width: 100%;
    float: left;
    overflow-x: hidden;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.Field {
    width: 100%;
    float: left;
}

.btn-primary a {
    color: #fff;
}

.w-100 {
    float: left;
}

div,
h1,
h2,
h3,
li,
p {
    font-family: Lato, sans-serif;
}

.ColorPink,
.color-pink {
    color: #bd9234 !important;
}

.ColorBlue {
    color: #000 !important;
}

.ColorWhite {
    color: #fff !important;
}

.BgPink {
    background-color: #bd9234 !important;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #bd9234;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group-addon i {
    margin-top: 6px;
}

.modal-header .close {
    position: absolute;
    right: 9px;
    color: #bd9234 !important;
    opacity: 1 !important;
    top: 0;
}

ul.OrderList {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
}

a.Number .phone_no {
    display: inline-block;
}

.form-group b a.phone_url {
    float: right;
    margin-left: 6px;
}

ul.OrderList li {
    padding-left: 13px;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    color: #000;
    font-weight: 300;
    position: relative;
}

ul.OrderList li:before {
    width: 8px;
    float: left;
    background-color: #bd9234;
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    top: 10px;
}

.Title {
    color: #000;
    margin-bottom: 30px;
    line-height: normal;
    font-size: 25px;
}

.Title:after {
    content: '';
    border-bottom: 2px solid #bd9234;
    display: block;
    position: absolute;
    padding-bottom: 10px;
    width: 50px;
}

.OneBySeven {
    width: 66%;
    float: left;
    margin-right: 2%;
}

.OneThird {
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    position: relative;
}

.OneThird:last-child {
    margin-right: 0;
}

.form-group {
    width: 100%;
    float: left;
}

.form-group b {
    float: right;
    margin-top: 16px;
}

.HalfField {
    width: 50%;
    float: left;
}

.MainContainer {
    width: 100%;
    float: left;
}

input.CaptchaSection {
    background-image: url(https://s3.amazonaws.com/cdnhomesfy/CapchatBackground.jpg) !important;
    text-align: center;
    border: none;
    color: #000 !important;
    font-size: 20px !important;
    font-weight: 500;
    line-height: .1em;
    letter-spacing: .5px;
    width: 100%;
    float: left;
    background-size: cover !important;
    background-position: center !important;
    font-weight: 700;
}

.btn {
    border: 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: .5px;
    cursor: pointer;
    margin-right: 15px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    z-index: 3;
    border-radius: 0;
}

button:focus {
    outline: 0;
}

.btn-primary {
    background: #bd9234;
    border: 1px solid #bd9234;
}

.RefButton {
    width: 100%;
    float: left;
    padding: 4px 0 !important;
    background-color: #bd9234;
    text-align: center;
    border-radius: 0;
    box-shadow: 4px 2px 7px #ccc;
    color: #fff;
}

.desktopVisible {
    display: block !important;
}

.mobileVisible {
    display: none !important;
}


footer img {
    width: 40px
}


footer.w-100 {
    background-color: #bd913c;
    padding: 20px 0;
    box-sizing: border-box
}

footer.w-100 p {
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition-delay: 1.7s;
    font-size: 12px !important;
    color: #fff
}

.footer_bg_im {
    float: left;
    padding: 10px
}

.footer_bg_im img {
    width: 100%
}

.term_sec {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center
}

.term_sec a {
    color: #000;
    text-decoration: none;
    font-size: 14px
}

.term_sec a:hover {
    color: #000;
    text-decoration: none
}

.footer_ico_right a:hover {
    text-decoration: none;
    color: #fff
}

.footer_ico_right a img {
    width: 50px;
    height: 50px;
    opacity: 70%;
    padding: 5px
}

.Content.term_content {
    text-align: center;
    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
    padding: 10px
}

.copyright_sec p {
    text-align: center;
    color: #757575
}

@media (max-width:767px) {
    .Content.term_content {
        margin-bottom: 50px
    }
    .footer_ico_right {
        margin-bottom: 20px !important;
        text-align: center
    }
    .footer_ico_right a {
        margin: 3px
    }
}

.footer_bg_im img {
    width: 90%;
    float: left;
    left: 2%;
    border-radius: 4px
}

.footer_bg_im {
    float: left;
    padding: 10px
}

.term_sec {
    margin-top: 10px;
    margin-bottom: 10px
}

.term_sec a {
    color: #000
}

.term_sec span {
    color: #000;
    font-size: 15px;
    padding: 6px
}

.Content.term_content {
    text-align: center;
    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
    padding: 10px
}

.Content.term_content p {
    color: #000
}

@media (max-width:767px) {
    .footer_ico_right a {
        margin: 0;
        width: 32%;
        display: inline-block;
        box-sizing: border-box
    }
    .Content.term_content {
        margin-bottom: 50px
    }
    .footer_ico_right {
        margin-bottom: 30px !important;
        text-align: center
    }
}

.demo-gallery button {
    display: table;
    margin: 0 auto;
}

@media(max-width:767px) {
    .desktopVisible {
        display: none !important
   ; }
    .mobileVisible {
        display: block !important
   ; };
}

.sticky.is-sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: #fff;
    margin-top: 0;
    border: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
}

.sticky.is-sticky ul.SubMenu {
    float: left;
    display: inherit;
}

a#return-to-top {
    float: right;
    width: 150px;
    background-color: #bd9234;
    text-align: center;
    padding: 4px;
    color: #fff;
    font-weight: 700;
}

header {
    float: left;
    width: 100%;
    margin-top: 7px;
}

img.Logo {
    width: 100%;
    float: left;
    max-width: 100px;
}

a.Number {
    float: right;
    font-size: 20px;
    font-weight: 700;
    color: #bd9234;
    margin-top: 13px;
}

ul.SubMenu {
    width: 100%;
    display: table;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul.SubMenu li {
    display: inline-block;
    padding: 0 15px;
}

ul.SubMenu a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

nav {
    border-top: 1px solid #ccc;
    margin-top: 6px;
}

nav ul .active a {
    color: #bd9234;
}

.btn.btn-primary.amenitiesTextScroll {
    display: none;
}

section.Banner {
    width: 100%;
    float: left;
    margin-bottom: 40px;
    position: relative;
}

.main {
    margin: 0 auto;
    width: 100%;
    float: left;
}

.main .slick-list {
    width: 100%;
    float: left;
    overflow-x: hidden;
}

.main .slick-list .slick-slide img {
    width: 100% !important;
    float: left;
}

.Banner .BannerOverlay .BannerCaption h2 {
    background: rgba(0, 0, 0, .6);
    color: #fff;
    bottom: 50px;
    position: absolute;
    max-width: 500px;
    padding: 10px;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    text-align: center;
    right: 0;
    margin: 0 auto;
}

.banner-offer {
    position: absolute;
    top: 20px;
    padding: 20px;
    left: 20px;
    background: rgb(0 0 0 / 86%);
    color: #fff;
}

.banner-offer ul {
    list-style: none;
    line-height: 28px;
    font-size: 16px;
    letter-spacing: .5px;
    padding: 0;
    margin: 0;
}

.banner-offer ul li:before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #000;
    vertical-align: middle;
    margin-right: 10px;
    transform: rotate(45deg);
}

.banner-offer ul li {
    padding: 3px 10px;
    background: #bd9234;
    margin-bottom: 5px;
    color: #fff;
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
}

.Banner .RegisterForm {
    position: absolute;
    width: 404px;
    padding: 40px;
    border-radius: 10px;
    z-index: 99;
    float: left;
    background-color: #fff;
    top: 20px;
    right: 20px;
    border: 2px solid #bd9234;
    box-shadow: 2px 2px 10px;
}

.Banner .slick-slide {
    height: 422px !important;
}

.Banner .RegisterForm input {
    width: 100%;
    float: left;
    padding: 3px;
    margin: 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #979797;
}

.Banner .RegisterForm .form-group {
    width: 100%;
    float: left;
}

.Banner .RegisterForm .form-group label {
    width: 100%;
    float: left;
    margin-bottom: 0;
}

.keyInfo {
    background: #000;
    padding: 15px 10px;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    float: left;
}

.containerWrapper {
    max-width: 1044px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.keyInfo .keyInfoDetails:first-child {
    padding-left: 0;
}

.keyInfo .keyInfoDetails {
    display: inline-block;
    padding: 0 25px;
}

.keyInfo .keyInfoDetails span {
    display: block;
    font-weight: 700;
    margin-top: 7px;
}

.slick-slide {
    width: 100%;
}

.amenitiesPanel {
    width: 100%;
    float: left;
}

.amenitiesImageSlider {
    width: 100%;
}

.amenitiesText,
.amenitiesTitle {
    z-index: 0;
}

.amenitiesTitle {
    left: 0;
}

.amenitiesImage img {
    width: 100%;
    margin-left: 2px;
    height: 560px;
}

.splashAwardsWrapper .slick-dots li.slick-active {
    background: #bd9234;
}

.amenitiesPanel .slick-slide p:first-child {
    margin-top: 0;
}

.rightPanel ul li {
    margin-top: 22px;
}

.amenitiesTextSlider .slick-next,
.amenitiesTextSlider .slick-prev {
    width: auto !important;
}

.amenitiesTextSlider .slick-next {
    right: 23px;
}

.amenitiesTextSlider .slick-prev {
    left: 75%;
}

.amenitiesPanel p.pagingInfo {
    margin: 10px 48px;
    float: right;
}

.blue:after {
    height: 470px;
}

.pricePanel {
    bottom: 60px;
}

.pricePanel .slick-next {
    right: 0;
    top: 50%;
}

.pricePanel .slick-prev {
    left: -10px;
    top: 50%;
}

.enquireBtn {
    margin-right: 40px;
    float: right;
}

.slick-next,
.slick-prev {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: transparent;
    bottom: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: 0;
    z-index: 5;
}

.projectAmenities {
    position: relative;
    float: left;
    width: 100%;
}

.amenitiesPanel h1 {
    color: #fff;
    font-size: 23px;
    position: relative;
}

.amenitiesPanel h1:after {
    content: '';
    border-bottom: 2px solid #fff;
    display: block;
    position: absolute;
    padding-bottom: 10px;
    width: 50px;
}

.amenitiesPanel p {
    color: #fff;
    font-size: 18px;
    margin: 80px 0 50px;
}

.amenitiesPanel .slick-slide p {
    margin: 0 0 15px;
}

.amenitiesPanel .slick-slide p:first-child {
    margin-top: 106px;
}

.amenitiesText {
    background-color: #000;
}

.amenitiesText,
.amenitiesTitle {
    position: absolute;
    width: 330px;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px;
}

.amenitiesTextSlider {
    margin-bottom: 50px;
}

.amenitiesTextSlider .slick-next,
.amenitiesTextSlider .slick-prev {
    text-align: right;
    width: 20%;
    bottom: -90px;
    z-index: 0;
}

.amenitiesTextSlider .slick-next:before,
.amenitiesTextSlider .slick-prev:before {
    color: #fff;
}

.amenitiesTextSlider .slick-next {
    right: -15px;
}

.amenitiesTextSlider .slick-next:before {
    background: url(https://www.palava.in/themes/palava/images/sprite-icon.png) -10px -45px no-repeat;
    content: '';
    height: 13px;
    width: 23px;
    position: absolute;
    right: -5px;
    top: 4px;
}

.amenitiesTextSlider .slick-prev {
    left: 77%;
}

.amenitiesTextSlider .slick-prev:before {
    background: url(https://www.palava.in/themes/palava/images/sprite-icon.png) -10px -150px no-repeat;
    content: '';
    height: 13px;
    width: 23px;
    position: absolute;
    left: -5px;
    top: 4px;
}

.amenitiesPanel p.pagingInfo {
    margin: -30px 10px 50px;
    text-align: right;
    font-size: 15px;
}

.bluePanel {
    background-color: #000;
    line-height: normal;
    position: relative;
    padding: 40px 100px 40px 155px;
    width: 35%;
}

.bluePanel:after {
    content: '';
    background-color: #000;
    color: #fff;
    position: relative;
}

.amenitiesTextSlider .slick-next:before,
.amenitiesTextSlider .slick-prev:before {
    top: 163px;
}

table.rwd-table {
    width: 100%;
    border: 1px solid #e2e2e1;
    border-radius: 4px;
    float: left;
    border-collapse: separate;
    border-bottom: 0;
}

table.rwd-table th {
    font-weight: 700;
}

table.rwd-table td,
table.rwd-table th {
    padding: 10px;
    border-right: 1px solid #e2e2e1;
    border-bottom: 1px solid #e2e2e1;
    width: auto;
    text-align: center;
}

table.rwd-table td {
    position: relative;
}

.After:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    text-align: center;
    width: 60px;
    height: 1px;
    background-color: #bd9234;
    top: 50%;
    margin: 0 auto;
    transform: rotate(0);
}

table.rwd-table td:nth-child(4) {
    color: #bd9234;
    font-weight: 700;
}

table.rwd-table td:last-child,
table.rwd-table th:last-child {
    border-right: 0 !important;
}

.rwd-table .on-btn {
    width: 100% !important;
    max-width: 150px !important;
    text-align: center;
    display: table;
    float: none;
    margin: 0 auto;
}

@media (max-width:640px) {
    .btn {
        padding: .84rem 1.14rem !important
   ; }
    .rwd-table {
        margin: 0;
        width: 100%;
        border: 0 !important
   ; }
    .rwd-table tr:last-child {
        margin-bottom: 0
   ; }
    .rwd-table tr:first-child {
        border: 0;
        margin: 0
   ; }
    .rwd-table tr {
        border: 1px solid #e2e2e1;
        margin-bottom: 10px
   ; }
    .rwd-table th {
        display: none
   ; }
    .rwd-table td {
        display: block;
        padding: 0 !important;
        border-bottom: 1px solid #e2e2e1 !important;
        margin: 0 !important
   ; }
    .rwd-table td:before {
        content: attr(data-th) ": ";
        font-weight: 700;
        width: 42%;
        display: inline-block;
        margin-right: 10px;
        padding: 15px 0 15px 10px;
        border-right: 1px solid #e2e2e1
   ; }
    .rwd-table td,
    .rwd-table th {
        text-align: left
   ; }
    .rwd-table {
        color: #000;
        border-radius: .4em;
        overflow: hidden
   ; }
    .rwd-table tr {
        width: 100%;
        float: left
   ; }
    .rwd-table tr:nth-child(even) {
        background-color: #fbfbfb
   ; }
    .rwd-table td,
    .rwd-table th {
        margin: .5em 1em
   ; }
    .rwd-table td:before,
    .rwd-table th {
        color: #000
   ; }
    table.rwd-table td,
    table.rwd-table td:first-child,
    table.rwd-table th,
    table.rwd-table th:first-child {
        width: 100%;
        border: 0;
        text-align: left
   ; }
    table.rwd-table {
        border: 0
   ; }
    .col-md-12.BoderOffer {
        width: 100%;
        float: left
   ; }
    .rwd-table .on-btn {
        width: 100% !important;
        max-width: 102px !important;
        display: inline-block
   ; }
    .test-box ul {
        padding: 0 2% !important
   ; };
}

.accordion-container {
    position: relative;
    width: 100%;
    border: 1px solid #bd9234;
    border-top: none;
    outline: 0;
    cursor: pointer;
}

.accordion-container .article-title {
    display: block;
    position: relative;
    margin: 0;
    padding: .625em .625em .625em 2em;
    border-top: 1px solid #bd9234;
    font-size: 1.25em;
    font-weight: 400;
    color: #bd9234;
    cursor: pointer;
    width: 100%;
    float: left;
}

.accordion-container .article-title:active,
.accordion-container .article-title:hover,
.accordion-container .content-entry.open .article-title {
    background-color: #000;
    color: #fff;
}

.accordion-container .article-title:hover i:active,
.accordion-container .article-title:hover i:before,
.accordion-container .content-entry.open i {
    color: #fff;
}

.accordion-container .content-entry i {
    position: absolute;
    top: 3px;
    right: 12px;
    font-style: normal;
    font-size: 1.625em;
}

.accordion-container .content-entry i:before {
    content: "+ ";
}

.accordion-container .content-entry.open i:before {
    content: "- ";
}

.accordion-content {
    display: none;
    float: left;
    width: 100%;
}

#content {
    width: 100%;
}

#description,
.accordion-container {
    width: 100%;
    margin: 0 auto;
    float: left;
}

#description p {
    line-height: 1.5;
}

#description h2 {
    text-align: center;
}

.FloorPlan .image-box {
    position: relative;
    text-align: center;
    background: #0b0b0b;
}

.FloorPlan .image-box img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.FloorPlan .image-box:hover img {
    opacity: .7;
}

.FloorPlan .caption-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: left;
}

.FloorPlan:hover .caption-box {
    -webkit-animation: jump .9s ease 0s normal;
    animation: jump .9s ease 0s normal;
}

.FloorPlan .caption-box .content {
    position: relative;
    left: 0;
    width: 100%;
    padding: 20px 0 27px;
    background-color: #fff;
    z-index: 9;
    -webkit-transform: translateY(110%);
    -moz-transform: translateY(110%);
    -ms-transform: translateY(110%);
    -o-transform: translateY(110%);
    transform: translateY(110%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.FloorPlan:hover .caption-box .content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.FloorPlan .caption-box .content h3 {
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 1.2em;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3px;
    text-align: center;
}

.FloorPlan .caption-box .content h3 a {
    color: #141414;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.FloorPlan .caption-box .content h3 a:hover {
    color: #ffea00;
}

.FloorPlan .caption-box .content span {
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 1.4em;
    color: #999;
    font-weight: 300;
}

@-webkit-keyframes jump {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
   ; }
    50% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
   ; }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
   ; };
}

@keyframes jump {
    0% {
        transform: translateY(0)
   ; }
    50% {
        transform: translateY(-30px)
   ; }
    100% {
        transform: translateY(0)
   ; };
}

.demo-gallery {
    width: 100%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.demo-gallery ul {
    width: 100%;
    float: left;
    margin: 0;
}

.demo-gallery ul li {
    width: 32%;
    float: left;
    border-width: 2px;
    border-style: solid;
    border-color: #ccc;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 0;
    box-shadow: 2px 2px 11px #888;
}

.demo-gallery ul li:nth-child(3) {
    margin-right: 0;
}

.GallerySection {
    width: 100%;
    float: left;
    position: relative;
    position: relative;
    margin-bottom: 10px;
}

.GallerySection span {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    font-weight: 800;
    z-index: 99;
    color: #bd9234;
    text-transform: uppercase;
}

.GallerySection .item {
    float: left;
    width: 33.33%;
    padding: 0 20px 20px 0;
    cursor: pointer;
}

.GallerySection .item img {
    transition: .5s all;
    opacity: 1;
    border: 1px solid;
    width: 100%;
}

.GallerySection .item img.fade {
    opacity: .2;
}

#Location {
    position: relative;
}

#Location:before {
    position: absolute;
    content: '';
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-color: rgba(255, 255, 255, .2);
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: 0;
    cursor: pointer;
    padding: 14px 16px;
    transition: .3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    width: 100%;
    float: left;
}

.tab.list-unstyled li {
    width: 25%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.tab.list-unstyled li.active {
    background-color: #bd9234;
    color: #fff;
    position: relative;
    border: 0;
}

.tab.list-unstyled li.active:after {
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #fff transparent;
    display: table;
    position: absolute;
}

.tab.list-unstyled li img {
    margin-bottom: 40px;
    margin-top: 16px;
    height: 130px;
}

.tab.list-unstyled li h6 {
    color: #000;
}

.tab.list-unstyled li.active h6 {
    color: #fff;
}

@media(max-width:992px) {
    .amenitiesImage img {
        height: auto
   ; }
    a#return-to-top {
        position: absolute;
        right: 30px
   ; }
    .tab.list-unstyled li img {
        height: 44px
   ; };
}

@media(max-width:767px) {
    .sticky.is-sticky {
        top: 0;
        height: 40px;
        border-bottom: 1px solid #444
   ; }
    a#return-to-top {
        display: none !important
   ; }
    .sticky.is-sticky ul.SubMenu {
        float: none;
        display: table
   ; }
    .navbar {
        padding: 0
   ; }
    img.Logo {
        max-width: 100px;
        margin-left: -15px
   ; }
    a.Number {
        position: absolute;
        right: 15px;
        top: 0;
        font-size: 15px
   ; }
    .Banner .BannerOverlay .BannerCaption h2 {
        font-size: 18px;
        top: 58%;
        bottom: auto
   ; };
}

@media(max-width:575px) {
    a.Number {
        top: -42px
   ; };
}

@media(max-width:480px) {
    ul.SubMenu li {
        display: inline-block;
        padding: 0;
        width: 20%;
        float: left
   ; }
    ul.SubMenu a {
        font-size: .9rem !important
   ; }
    .Title {
        font-size: 20px
   ; };
}

@media(max-width:767px) {
    .Banner .RegisterForm {
        position: static;
        width: 100%;
        margin-top: 38px
   ; }
    .main {
        padding-right: 0 !important
   ; }
    .GallerySection span {
        display: none
   ; }
    .banner-offer {
        position: relative;
        left: 0;
        clear: both
   ; };
}

@media(max-width:992px) {
    .amenitiesText,
    .amenitiesTitle {
        position: static;
        width: 100%;
        height: 100%
   ; }
    .amenitiesPanel p.pagingInfo {
        padding-right: 125px
   ; }
    .amenitiesTextSlider .slick-next {
        right: 0
   ; }
    .amenitiesTextSlider .slick-prev {
        left: 0
   ; }
    .amenitiesTextSlider .slick-next:before,
    .amenitiesTextSlider .slick-prev:before {
        top: 85px
   ; }
    .amenitiesPanel .slick-slide p:first-child {
        margin-top: 0
   ; };
}

@media(max-width:767px) {
    .GallerySection .item {
        width: 33.33%;
        padding: 0
   ; }
    .tab.list-unstyled li img {
        height: 38px
   ; };
}

@media(max-width:480px) {
    .tab.list-unstyled li {
        width: 50%;
        height: 173px;
        border: 1px solid #979797
   ; }
    .tab.list-unstyled li img {
        height: 38px
   ; }
    .tab.list-unstyled li h6 {
        font-size: .9rem
   ; };
}

@media(max-width:480px) {
    .demo-gallery ul li {
        width: 48%
   ; }
    .demo-gallery ul li:nth-child(3) {
        margin-right: 2%
   ; };
}

@media(max-width:320px) {
    ul.SubMenu a {
        font-size: 14px !important
   ; };
}

@media(max-width:767px) {
    .amenitiesPanel p.pagingInfo {
        padding-right: 0;
        position: absolute;
        bottom: -12px;
        left: 0;
        right: 0;
        text-align: center
   ; };
}

.SocialButton {
    position: fixed;
    bottom: -150px;
    width: 80px;
    z-index: 99;
    left: 0;
    display: none;
}

.SocialButton li {
    width: 45px;
    float: none;
    background: #4285f4;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 3px;
    font-size: 28px;
    box-shadow: 2px 3px 18px #000;
    color: #fff;
    height: 45px;
    display: block;
    text-align: center;
}

.SocialButton li a {
    width: 100%;
    float: left;
    color: #fff;
}

.SocialButton li:last-child {
    margin-left: 0;
    background-color: #34af23;
}

@media (max-width:767px) {
    .SocialButton {
        display: block
   ; }
    .Banner .BannerOverlay .BannerCaption h2 {
        max-width: 278px
   ; }
    .keyInfo .keyInfoDetails {
        width: 50%;
        float: left;
        padding: 0
   ; }
    .keyInfo .keyInfoDetails div {
        font-weight: 100
   ; };
}

.form-group .HalfField {
    display: none;
}

ul.CountDown {
    width: 100%;
    float: left;
    padding: 0;
    max-width: 628px;
}

ul.CountDown li {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 0 22px;
    height: auto;
    width: 25%;
    box-shadow: 4px 4px 10px #aaa;
    margin-right: 2%;
    float: left;
    margin-right: 0;
}

ul.CountDown li span {
    display: table;
    text-align: center;
    width: 100%;
    font-size: 54px;
    color: #bd9234;
}

@media (max-width:767px) {
    ul.CountDown li {
        width: 50%;
        margin-right: 0;
        padding: 19px 0
   ; };
}

lable {
    float: left;
    width: 100%;
}

.form-control {
    border-radius: 0 !important;
}

.RegisterForm .EnquiryForm .form-group select,
.RegisterForm .EnquiryForm .form-group.country input:last-child {
    width: 66%;
    padding: 9px;
    float: right;
    border-width: 0 0 1.5px 0;
    color: #000;
    border-style: solid;
    border-color: #222;
}

.RegisterForm .EnquiryForm .form-group select {
    float: left;
    width: 32%;
    padding: 7px 2px;
    margin-top: 6px;
}

.input-group.country input,
select {
    width: 58%;
    float: right;
    padding: 10px;
    color: #c48b00;
    border: 1px solid;
}

select {
    padding: 8px 10px;
    width: 40%;
    float: left;
}